# STS 관련 파일
.classpath
.project
.settings/
bin/

# Maven 관련 파일
target/

# Spring Legacy Project 관련
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

# Server 폴더 제외
Servers/
.sts4-cache/

# Metadata 제외
.metadata/
/lib
*/target/*

# pom.xml
/pom.xml