<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<!-- 컨테이너 만들때 root-context에 있는 bean을 만듦 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		/WEB-INF/spring/root-context.xml
		/WEB-INF/spring/spring-security.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<!-- 여기서 빈을 등록하는 과정 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<!-- 
	appServlet을 올릴 때 DispatcherServlet(frontServlet, frontController라고도 부름) 
	의 객체를 생성한다.(Spring에서의 대장, 동작하는데 있어서 대장) 
	컨테이너 안에서 요청을 다 받아서 중심(디스패처)가 뿌려주는 것
	inint-param 설정을 넣는데 초기화를 해준다.
	-->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		<!-- load-on-startup의 텍스트 1이 제일먼저 출동한다는 뜻 -->
		
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- <url-pattern> /시작하는 모든 요청을 받는다는 뜻  -->
<!--
		* 필터
		
		모든 요청 처리 전 공통적으로 필요한 기능들을
		dispatcher한테 요청이 가기전에 filter에서 거르고 dispatcher에서 처리를 해줌
		클라이언트의 요청을 servlet이 받기전에 먼저 필터링해서 수행할 수 있도록 해줌
		배포서술자(web.xml)에 작성해서 작성내용이 먼저 수행될 수 있도록 만들어줌
	
	 -->
	 
	 <filter>
	 	<filter-name>encodingFilter</filter-name>
	 	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	 	<init-param>
	 		<param-name>encoding</param-name>
	 		<param-value>UTF-8</param-value>
	 	</init-param>
	 	<init-param>
	 		<param-name>forceEncoding</param-name>
	 		<param-value>true</param-value>
	 	</init-param>
	 </filter>
	 
	 <!-- encodingFilter를 모든 패턴에 적용 -->
	 <filter-mapping>
	 	<filter-name>encodingFilter</filter-name>
	 	<url-pattern>/*</url-pattern>
	 </filter-mapping>


</web-app>
